
on:
  workflow_dispatch:

jobs:
  # test:
  #   strategy:
  #     matrix:
  #       os: [ ubuntu-latest, macos-latest, windows-latest ]
  #   runs-on: ${{ matrix.os }}
  #
  #   steps:
  #   - uses: actions/checkout@v5
  #   - run: cargo test -- --nocapture
  #     env:
  #       OUT_DIR: target
  
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version.outputs.version }}

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - run: cargo update
    - id: version
      run: echo "version=v$(cargo pkgid | cut -d '#' -f 2)" >> "$GITHUB_OUTPUT"

  build: # adapted from https://github.com/foresterre/cargo-msrv/blob/main/.github/workflows/build-release-binaries.yaml
    runs-on: ${{ matrix.os }}
    needs: version
    strategy:
      fail-fast: true
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            archive_ext: tgz
            kind: linux

          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
            archive_ext: tgz
            kind: linux

          - target: x86_64-apple-darwin
            os: macos-15-intel
            archive_ext: tgz
            kind: macos

          - target: aarch64-apple-darwin
            os: macos-latest
            archive_ext: tgz
            kind: macos

          - target: x86_64-pc-windows-msvc
            os: windows-latest
            archive_ext: zip
            kind: windows

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
      with:
        toolchain: stable
        target: ${{ matrix.target }}
    - shell: bash
      run: |
        echo "archive=flight-network-planner-${{ matrix.target }}-${{ needs.version.outputs.version }}.${{ matrix.archive_ext }}" >> $GITHUB_ENV
        echo "subfolder=flight-network-planner-${{ matrix.target }}-${{ needs.version.outputs.version }}" >> $GITHUB_ENV
    - shell: bash
      run: mkdir ${{ env.subfolder }}

    - if: matrix.target == 'x86_64-unknown-linux-musl'
      uses: awalsh128/cache-apt-pkgs-action@v1
      with:
        packages: musl-tools
        version: 1.0

    - shell: bash
      run: cargo build --target=${{ matrix.target }} --release
      
    - if: matrix.kind == 'macos'
      shell: bash
      run: |
        cp  ./target/${{ matrix.target }}/release/flight-network-planner ${{ env.subfolder }}
        gtar --create --gzip --file=${{ env.archive }} ${{ env.subfolder }}
    - if: matrix.kind == 'linux'
      shell: bash
      run: |
        cp target/${{ matrix.target }}/release/flight-network-planner ${{ env.subfolder }}
        tar --create --gzip --file=${{ env.archive }} ${{ env.subfolder }}
    - if: matrix.kind == 'windows'
      shell: bash
      run: |
        cp target/${{ matrix.target }}/release/flight-network-planner.exe ./${{ env.subfolder }}
        7z a -tzip ${{ env.archive }} ${{ env.subfolder }}
    
    - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
      with:
        name: ${{ matrix.target }}
        path: ./${{ env.archive }}


  github-release:
    runs-on: ubuntu-latest
    needs: [build, version]
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af # v1.0.7
        with:
          toolchain: stable

      - run: mkdir dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: x86_64-unknown-linux-gnu
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: x86_64-unknown-linux-musl
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: x86_64-apple-darwin
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: aarch64-apple-darwin
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          name: x86_64-pc-windows-msvc
          path: dist

      - run: cargo package
      - run: mv target/package/*.crate dist
      - uses: softprops/action-gh-release@5be0e66d93ac7ed76da52eca8bb058f665c3a5fe # v2.4.2
        with:
          tag_name: ${{ needs.version.outputs.version }}
          files: dist/*

  crates-io:
    runs-on: ubuntu-latest
    needs: build
    environment: crates
    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: rust-lang/crates-io-auth-action@b7e9a28eded4986ec6b1fa40eeee8f8f165559ec # v1.0.3
        id: auth
      - run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ steps.auth.outputs.token }}
